<table class="table table-hover text-center">
	<thead>
		<tr>
			<th
				scope="col"
				style="width: 10%"
			>
				<button
					class="btn btn-primary btn-sm me-1 py-1 px-2"
					(click)="sortCombatantsByInitiative()"
				>
					<i class="fa fa-play"></i>
				</button>
				Initiative
			</th>
			<th scope="col">Name</th>
			<th
				scope="col"
				style="width: 15%"
			>
				<i class="fa fa-heart"></i>
			</th>
			<th
				scope="col"
				style="width: 10%"
			>
				<i class="fa fa-shield"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr
			class="table-primary"
			*ngFor="let playerCombatant of playerCombatants"
		>
			<td>{{ playerCombatant.initiativeBonus }}</td>
			<td>{{ playerCombatant.name }}</td>
			<td>{{ playerCombatant.currentHitPoints }} / {{ playerCombatant.maxHitPoints }}</td>
			<td>{{ playerCombatant.armorClass }}</td>
		</tr>
	</tbody>
</table>
